
@{
}
<h1 class="mt-3">User List</h1>
<div class="d-flex justify-content-end">
    <a class="btn btn-secondary" asp-controller="User" asp-action="Add">Add User</a>
</div>
<table class="table table-bordered">
    <thead>
        <tr>
            <th>Name</th>
            <th>Age</th>
            <th>Gender</th>
            <th>Email</th>
            <th>PhoneNumber</th>
            <th>Country</th>
            <th>City</th>

        </tr>
    </thead>
    <tbody>
        @foreach (var user in Model)
        {
            <tr>
                <td>@user.Name</td>
                <td>@user.Age</td>
                <td>@user.Gender</td>
                <td>@user.Email</td>
                <td>@user.PhoneNumber</td>
                <td>@user.Country</td>
                <td>@user.City</td>

            </tr>
        }
    </tbody>
</table>
@{
}
